.grid {
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 840px;
    border: 1px solid black;
}

.grid div {
    width: 30px;
    height: 30px;
}

.pac-dot {
    background-color: rgb(255, 255, 255);
    border: 10px solid $path-color;
    box-sizing: border-box;
}

.wall {
    background-color: $background-color;
}

.power-pellet,
.ghost-lair,
.blinky,
.pinky,
.inky,
.clyde,
.scared-ghost,
.pac-man,
.background {
    background-color: $path-color;
}

.power-pellet {
    background-image: url(../img/orange.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}

.blinky {
    background-image: url(../img/red.png);
    background-size: cover;
    border: 0px;
}

.pinky {

    background-image: url(../img/pink.png);

    background-size: cover;
    border: 0px;

}

.inky {
    background-image: url(../img/cyan.png);

    background-size: cover;
    border: 0px;

}

.clyde {
    background-image: url(../img/green.png);

    background-size: cover;
    border: 0px;

}

.scared-ghost {
    background-image: url('../img/scared.png');

    background-size: cover;
    border: 0px;

}



.pac-man {
    background-image: url('../img/pacman.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;


}