.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: 1px solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: rgb(11, 11, 39);
    border: 5px solid white;
    box-sizing: border-box;

}

.wall {
    background-color: rgb(18, 18, 58);
}

.power-pellet {
    background-color: rgb(160, 8, 109);
    border-radius: 10px;
}

.blinky {
    background-color: red;
    border: 0px;
}

.pinky {
    background-color: pink;
    border: 0px;
}

.inky {
    background-color: rgb(0, 4, 255);
    border: 0px;
}

.clyde {
    background-color: orange;
    border: 0px;
}

.scared-ghost {
    background-color: aquamarine;
    border: 0px;
}
















.pac-man {
    background-color: rgb(0, 255, 221);
    border-radius: 10px;
}